ctranslate2>=4.5.0
faster-whisper>=1.2.1
nltk>=3.9.1
numpy>=2.0.2,<2.1.0
onnxruntime>=1.19,<1.20.0
pandas>=2.2.3,<2.3.0
av<16.0.0
pyannote-audio>=3.3.2,<4.0.0
torch~=2.8.0
torchaudio~=2.8.0
transformers>=4.48.0
ffmpeg-python
pydub
